{% extends 'base.html.twig' %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/index.css') }}" />
    {% endblock %}

   {% block title %}
      My Web App
    {% endblock %}

{% block body %}
    <!--Navigation bar-->
    <div class="navigation">
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">My Web App</a>
            <button
                    class="navbar-toggler collapsed"
                    data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-expanded="false"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav" style="">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <!--Nav end-->

<!-- main  -->
<header id="main-section">
    <div id="dark-overlay">
        {% include 'Index/login.html.twig' %}
    </div>
</header>
<!-- main  end-->

<!--footer-->
<!--footer end-->
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset('build/js/login.js')}}"></script>

{% endblock %}