<div class="signup-wrapper">
    <form method="post">
        <div class="signup-div">
            <h3>Sign up </h3>
            <ul>
                <li>
                    <input type="text" name="screenName" placeholder="Full Name"/>
                </li>
                <li>
                    <input type="email" name="email" placeholder="Email"/>
                </li>
                <li>
                    <input type="password" name="password" placeholder="Password"/>
                </li>
                <li>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password"/>
                </li>
                <li>
                    <input type="submit" name="signup" Value="Signup for Twitter">
                </li>
                <li class='error-li' hidden id="signupError">
                    <div class='span-fp-error'> Error</div>
                </li>
                <!--<li class='error-li succ' id="loginSuccess" >
                    <div class='span-fp-error'> </div>
                </li>-->

            </ul>
        </div>
    </form>

</div>