<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
    <title>Posts</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Recent Posts</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('micro-post-add') }}">Add New Post</a>
        </ul>
    </nav>
    <div class="container">
      <div class="my-3 p-3">
          {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
              <strong>Success</strong> {{ message }}
            </div>
          {% endfor %}
          {% include 'micro-posts/post.html.twig' %}
      </div>
    </div>
  </body>
</html>
